<a href="https://colab.research.google.com/github/paulo-santos-ds/Machine-Learning/blob/main/Risk_credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## O Dataset a seguir tem como objetivo utilizar a renda, idade e a dividada que cada individuo possui junto ao banco, esses dados serão analisados na previsão futura visando observar se as pessoas com estas caracteristicas ira pagar ou não o emprestimo.

##Instalação de Bilioteca

In [8]:
!pip install plotly --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.8.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

##Utilizando as bibliotecas

In [9]:
import plotly.express as px
import pandas as pd
import numpy as pandas
import seaborn as sns
import matplotlib.pyplot as plt

##Importando base de dados

## Fonte: https://www.kaggle.com/datasets/laotse/credit-risk-dataset

##Importandos os dados

In [10]:
base_credit = pd.read_csv('/content/credit_risk_dataset.csv')
base_credit.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4